@model IEnumerable<TrainingMvcApp.Models.Training>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnologyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TechnologyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerId)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TrainingId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TrainingId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TrainingId }) |
                    @Html.ActionLink("By Trainer", "ByTrainer", new { trainerId = item.TrainerId }) |
                    @Html.ActionLink("By Technology", "ByTechnology", new { techId = item.TechnologyId }) |


            </td>
        </tr>
}
    </tbody>
</table>
